<br>
<%= form_for @tracker do |f| %>
<%= f.label "Make a new post" %>
<%= f.text_field :title, class: 'form-control' %>
<br>
<%= f.label :content %>
<%= f.text_area :content, class: 'form-control', rows: '10' %>
<br>
<%= f.file_field :image %>
<br>
<button type="submit" class="btn btn-xs btn-success">Submit</button>
<% end %>
